<mat-progress-spinner [diameter]="40" color="primary"></mat-progress-spinner>

<h3>More Complex Example</h3>
<ng-container *ngIf="loadingWithErrorStatesContext$ | async as loadingStatesContext">

  <button (click)="loadData2$.next(null)" [disabled]="loadingStatesContext.loadingState === 'loading'">
    Load data
  </button>
  <input type="checkbox" [(ngModel)]="error"> With Error
  <input type="checkbox" [(ngModel)]="isEmpty"> is Empty

  <mat-card *ngIf="loadingStatesContext.loadingState === 'error'" style="margin-bottom: 1rem;">
    {{loadingStatesContext.error}}
  </mat-card>

  <mat-card>
    <sigma-loading-states-section size="large" [state]="loadingStatesContext.loadingState"
                                  (actionClicked)="loadData2$.next(null)">
      <div *ngIf="message$ | async as message">
        {{message}}
      </div>

      <div empty>There is no Data to show here</div>
    </sigma-loading-states-section>

  </mat-card>


</ng-container>
